.container{
    margin: 0;
    padding: 0;
    height: 100vh;
    width: 100vw;
}
.header{
    display: flex;
    justify-content:space-between;
}
.logo{
    position: relative;
    left: 50px;
}
.my-profile{
    position: relative;
    right: 50px;
}